.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 1.2rem;
  border: 2px solid #fb5;
  color: #fff;
  border-radius: 8px;
  max-width: 200px;
  width: 100%;
  outline: 3px solid rgba(0, 0, 0, 0.5);
}

[data-container-contato] {
  position: relative;
}
